
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.Container {
    width: 100%;
    margin: 0 auto;
}


.header-nav {
    display: flex;
    width: 100%;
    height: 70px;
    padding: 0 50px;
    background-color: #f2f2f2;
    align-items: center;
    justify-content: space-between;
}

.nav-icon {
    font-size: 26px;
    margin: 0 16px;
    color: #000;
}

#searchbtn {
    height: 40px;
    background-color: #ff8b04;
    padding: 8px;
}

.header-logo-img {
    width: 40px;
    height: 40px;
}

.tab-list-container {
    height: 40px;
}

.menu-tab-list {
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
}

.div-search {
    height: 70px;
    align-items: center;
    display: flex;
}

#txtsearch {
    height: 40px;
    width: 800px;
    padding: 4px 8px;
    outline: none;
    border: none;
}

.item-link {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    background: rgba(255,255,255,.1);
    border: 0;
    border-radius: 0;
    font-family: inherit;
    font-size: 13px;
    font-weight: 700;
}

    .item-link:hover {
        color: #ff8b04;
        font-weight: 700;
        text-decoration: none;
    }

.menu-item {
    padding: 0 15px;
}

.menu-tab {
    padding: 0px 50px;
}

.catalog {
    display: flex;
    height: 40px;
    justify-content: space-around;
    background-color: #ff8b04;
    align-items: center;
}

.catalog-title {
    color: #ffff;
    font-size: 13px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.bar-icon {
    color: #fff;
}

.down-icon {
    color: #ffff;
}

.body-container {
    margin: 0 50px;
}

.body-content {
    width: 100%;
    background-color: #fff;
    height: 800px;
    padding-top: 30px !important;
    padding-left: 30px !important;
    padding-right: 0px !important;
}

.catalog-div {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.catalog-list-item {
    height: 40px;
    border-top: 0 solid #dedede;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    text-decoration: none;
    font-family: inherit;
    font-size: 13px;
    padding: 0 16px !important;
}

.catalog-item-link {
    line-height: 40px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.catalog-list-item:hover {
    background: #dedede;
    border-color: #dedede;
}

    .catalog-list-item:hover a {
        text-decoration: none;
        color: #ff8b04;
    }

.container-product {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    width: 218px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 6px 12px 0px #8888;
    margin-bottom: 18px;
}

.product-div-img {
    width: 216px;
    height: 218px;
}

.product-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.product-content {
    padding: 12px 18px;
}

.product-item-link {
    text-decoration: none;
    color: #000;
}

    .product-item-link:hover {
        text-decoration: none;
    }

        .product-item-link:hover .product-header {
            color: #ff8b04;
        }

.product-price {
    color: #ff8b04;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
}

.body-header {
    background-color: #ff8b04;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    padding: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: inherit;
}
